html{
    font-family: 'Roboto', sans-serif;
}
#bem-vindo{
    font-family: 'Roboto', sans-serif;
    max-width: 50vh;
    font-size: 5vh;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cadastro input, select{
    border-radius: 4px;
    margin-top: 5vh;
}
.cadastro button, select{
    border-radius: 4px;
    margin-left: 5.5vh;
}
.cadastro select{
    border-radius: 4px;
    margin-top: 5vh;
    margin-left: 2vh;
}
.cadastro input[type="checkbox"]{
    margin-top: 2vh;
}
table{
    height: 20vh;
    width: 100%;
    text-align: center;
}